# OS & Editor Files
.DS_Store
.idea/
.vscode/

# Node.js (React UI)
ui/node_modules/
ui/build/
ui/coverage/
ui/.env
ui/.cache/

# Python (FastAPI Server)
server/.venv/
server/venv/
server/env/
server/.env
server/__pycache__/
server/*.pyc
server/app/.env

# Python cached files
__pycache__